fastapi~=0.116.1
uvicorn[standard]~=0.35.0
psycopg2-binary
sqlalchemy>=2.0
qdrant-client
langchain>=0.2
langchain-community>=0.2
langchain-google-genai>=0.0.6
pypdf~=6.0.0
tqdm~=4.67.1
python-dotenv~=1.1.1
requests
google-generativeai
google-genai
dotenv~=0.9.9
pydantic~=2.11.7
python-multipart
SQLAlchemy>=2.0
